// =====================================================
// Per-process configuration: publishDir + ext.args
// =====================================================

process {

    withName: 'ANTISMASH' {
        publishDir = [
            path: { "${params.outdir}/antismash" },
            mode: 'copy',
            saveAs: { fname -> fname }
        ]
    }
}
